<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/jaime.css">
</head>
<body>
    <% include ./navBar/header%>  <!-- including my headder file -->
    <div class="center">
      <h1>Add a New User:</h1>
      <form action="/add" method="post">
        First Name:<input type="text" name="firstName" value=""><br><br> <!--adding values for input name = firstname-->
        Last Name:<input type="text" name="lastName" value=""><br><br>
        Email:<input type="text" name="email" value=""><br><br>
        <br>
        <input type="submit" value="add user">
      </form>
    </div>
</body>
