<!DOCTYPE html>
<head>

</head>
<body>
  <% include ./navBar/header%>
  <div class="center">
    <h1>USERS:</h1>
    <% users.forEach(function(thing){ %><!--looping through my parsed json file to display the users-->
      <div class="user">
        <ul>
          Name: <%= thing.firstname +' ' +thing.lastname %>
          <br>
          email: <%= thing.email %>
        </ul>
      </div>
    <% }) %>
  </div>
</body>
