<!DOCTYPE html>
<head>

</head>
<body>
  <% include ./navBar/header%>
  <div class="center">
    <h1>SEARCHED USER: <%= data.SearchName %></h1><br><!--display search result-->
    <% let match = false %><!--this will determin if there is a match or not-->
    <h1>Matchs:</h1><br>
    <% usr.forEach(function(thing){ %><!-- loop through users to find a match-->
      <h2>
          <%- `Name: ${thing.firstname} ${thing.lastname}`%><br><!--if ther is a match display it-->
          <%- `email: ${thing.email}` %>
          <% match =true%><!--set match = true for later check-->
      </h2>
    <% }) %>
    <% if(match==false){ %><!--if there is no match  display NO Match-->
      NO Match
    <%}%>
  </div>
</body>
